<!-- home/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="МозаикаМед">
    <meta name="author" content="МозаикаМед">
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}">
    <title>МозаикаМед</title>

    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
<!-- скрытая форма для CSRF, чтобы JS мог брать токен при logout -->
<form id="csrf-holder" style="display:none">{% csrf_token %}</form>
<div class="wrapper" id="wrapper">
    {% if not request.resolver_match.url_name == 'home' %}
        {% include 'home/sidebar.html' %}
    {% endif %}

    <div class="main">
        {% include 'home/navbar.html' %}
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        {% include 'home/footer.html' %}
    </div>
</div>

<script src="{% static 'js/app.js' %}"></script>
<script>
    document.getElementById('generate-report-btn').addEventListener('click', function () {
        if (confirm('Вы уверены, что хотите создать новый отчет?')) {
            // Показать оверлей загрузки
            document.getElementById('loading-overlay').style.display = 'block';

            fetch("{% url 'people:generate_iszl_report' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                // Скрыть оверлей после завершения запроса
                document.getElementById('loading-overlay').style.display = 'none';

                alert(data.message);
                if (data.success) {
                    location.reload();  // Обновление страницы после успешного создания отчета
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                document.getElementById('loading-overlay').style.display = 'none';
                alert('Произошла ошибка при создании отчета.');
            });
        }
    });
</script>
</body>
</html>