{% extends 'home/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Рабочее место экономиста</h5>
                        <p class="card-text">Описание.</p>
                        <a href="{% url 'economic_dashboard' %}" class="btn btn-primary">Открыть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Рабочее место статистика</h5>
                        <p class="card-text">Описание.</p>
                        <a href="/" class="btn btn-primary">Открыть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Рабочее место заведующего</h5>
                        <p class="card-text">Описание.</p>
                        <a href="/" class="btn btn-primary">Открыть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Рабочее место врача</h5>
                        <p class="card-text">Описание.</p>
                        <a href="/" class="btn btn-primary">Открыть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Панель пациента</h5>
                        <p class="card-text">Описание.</p>
                        <a href="/" class="btn btn-primary">Открыть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Панель главного врача</h5>
                        <p class="card-text">Описание.</p>
                        <a href="/" class="btn btn-primary">Открыть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
