{% load static %}
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static 'img/logo/logo.png' %}" alt="МозаикаМед" class="img-fluid">
            <span class="ms-1 display-8 font-weight-bold text-uppercase text-white fs-7">МозаикаМед</span>
        </a>

        <ul class="sidebar-nav">
            <!-- Главная -->
            <li class="sidebar-item">
                <a href="{% url 'home' %}" class="sidebar-link">
                    <i class="align-middle" data-feather="home"></i> <span class="align-middle">Главная</span>
                </a>
            </li>

            <!-- Реестры пациентов -->
            <li class="sidebar-item">
                <a data-bs-target="#patient-registries" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="clipboard"></i> <span class="align-middle">Реестры пациентов</span>
                </a>
                <ul id="patient-registries" class="sidebar-dropdown list-unstyled collapse">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'beneficiaries:home' %}">
                            <i class="fas fa-heart-pulse align-middle"></i> <span class="align-middle">Льготники</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'dn_app:upload_csv' %}">
                            <i class="align-middle" data-feather="activity"></i> <span class="align-middle">Диспансерное наблюдение</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Аналитическая система -->
            <li class="sidebar-item">
                <a href="{{ dash_url }}" class="sidebar-link">
                    <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Аналитическая система</span>
                </a>
            </li>

            <!-- Панель пациента -->
            <li class="sidebar-item">
                <a href="{% url 'peopledash_home' %}" class="sidebar-link">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Панель пациента</span>
                </a>
            </li>

            <!-- Панель главного врача -->
            <li class="sidebar-item">
                <a href="{{ dash_chief_url }}" class="sidebar-link">
                    <i class="align-middle" data-feather="activity"></i> <span class="align-middle">Панель главного врача</span>
                </a>
            </li>

            <!-- Административный сайт -->
            <li class="sidebar-item">
                <a href="/admin/" class="sidebar-link">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Административный сайт</span>
                </a>
            </li>

            <!-- Обновление данных -->
            <li class="sidebar-item">
                <a href="{{ dash_url }}/admin/admin_update_data" class="sidebar-link">
                    <i class="align-middle" data-feather="upload-cloud"></i> <span class="align-middle">Обновление данных</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.category-filter').forEach(function (link) {
            link.addEventListener('click', function () {
                document.querySelectorAll('.category-filter').forEach(function (otherLink) {
                    if (otherLink !== link) {
                        otherLink.classList.remove('active');
                        var sublist = otherLink.nextElementSibling;
                        if (sublist) {
                            sublist.style.display = 'none';
                        }
                    }
                });
                var sublist = link.nextElementSibling;
                if (sublist) {
                    if (sublist.style.display === 'none' || sublist.style.display === '') {
                        sublist.style.display = 'block';
                    } else {
                        sublist.style.display = 'none';
                    }
                }
                link.classList.toggle('active');
                updateMap();
            });
        });

        document.querySelectorAll('.type-filter').forEach(function (link) {
            link.addEventListener('click', function () {
                document.querySelectorAll('.type-filter').forEach(function (otherLink) {
                    otherLink.classList.remove('active');
                });
                link.classList.add('active');
                updateMap();
            });
        });

        document.getElementById('reset-filters').addEventListener('click', function () {
            document.querySelectorAll('.category-filter, .type-filter').forEach(function (link) {
                link.classList.remove('active');
                var sublist = link.nextElementSibling;
                if (sublist) {
                    sublist.style.display = 'none';
                }
            });
            updateMap();
        });

        function updateMap() {
            var selectedCategories = Array.from(document.querySelectorAll('.category-filter.active')).map(function (link) {
                return link.dataset.categoryId;
            });

            var selectedTypes = Array.from(document.querySelectorAll('.type-filter.active')).map(function (link) {
                return link.dataset.typeId;
            });

            fetch(`/update_map/?categories=${selectedCategories.join(',')}&types=${selectedTypes.join(',')}`)
                .then(response => response.json())
                .then(data => {
                    if (typeof window.updateMarkers === 'function') {
                        window.updateMarkers(data);
                    }
                });
        }
    });

</script>


<style>
    .navbar-brand {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .navbar-brand-full {
        display: inline;
    }

    .navbar-brand-short {
        display: none;
    }

    @media (max-width: 768px) {
        .navbar-brand-full {
            display: none;
        }

        .navbar-brand-short {
            display: inline;
        }
    }

    .btn-link {
        text-decoration: none;
    }

    .btn-link:hover {
        text-decoration: none;
    }

    .category-filter.active, .type-filter.active {
        background-color: rgba(0, 123, 255, 0.1); /* светло-синий фон для активного состояния */
        border-left: 3px solid #007bff; /* синяя линия слева для активного состояния */
    }

    .sidebar-nav .sidebar-item .type-filter {
        padding-left: 40px; /*  для смещения типов*/

    }

    .sidebar-cta {
        padding: 10%;
        margin: 10%;
    }

    .sidebar-cta-content {
        padding: 5%;
        margin: 5%;
    }

    .sidebar-dropdown {
        max-height: 300px; /* Ограничение высоты для прокрутки */
        overflow-y: auto; /* Вертикальная прокрутка, если элементов много */
    }

    .sidebar-dropdown::-webkit-scrollbar {
        width: 8px; /* Ширина полосы прокрутки */
    }

    .sidebar-dropdown::-webkit-scrollbar-thumb {
        background-color: #007bff; /* Цвет полосы прокрутки */
        border-radius: 4px; /* Радиус для скругления */
    }


</style>
