<!-- admin/omsdata_change_list.html -->

{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools">
        <ul class="grp-object-tools">
            <li>
                <a href="{% url 'admin:learn_omsdata_csv-upload' %}">Импорт CSV</a>  <!-- Добавляем кнопку импорта -->
            </li>
            <li>
                <a href="{% url 'admin:learn_omsdata_wo-download' %}">Загрузить данные из WO</a>
            </li>
        </ul>
    </div>
{% endblock %}
