{% extends 'admin/base_site.html' %}

{% block content %}
<h1>Загрузить файл CSV</h1>
<form id="upload-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" id="file-input" required>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>

<div id="progress-container" style="display:none;">
    <p>Идет обработка файла...</p>
    <div id="progress-bar" style="width:0%; height:20px; background-color:green;"></div>
</div>

<div id="status"></div>

<script type="text/javascript">
    document.getElementById('upload-form').onsubmit = function(e) {
        e.preventDefault();
        
        var formData = new FormData(this);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{% url 'data_loader:data_loader_omsdata_upload' %}", true);
        
        xhr.onload = function() {
            if (xhr.status === 202) {
                var response = JSON.parse(xhr.responseText);
                checkTaskStatus(response.task_id);
            } else {
                document.getElementById('status').innerText = "Ошибка при загрузке файла.";
            }
        };
        
        xhr.send(formData);
        document.getElementById('progress-container').style.display = 'block';
    };

    function checkTaskStatus(task_id) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/data_loader/task_status/" + task_id, true);
        
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if (response.state === "PENDING" || response.state === "STARTED") {
                    setTimeout(function() {
                        checkTaskStatus(task_id);
                    }, 1000);
                } else if (response.state === "SUCCESS") {
                    document.getElementById('status').innerText = "Файл успешно загружен и обработан!";
                    document.getElementById('progress-bar').style.width = '100%';
                } else {
                    document.getElementById('status').innerText = "Произошла ошибка при обработке файла.";
                }
            }
        };
        
        xhr.send();
    }
</script>

{% endblock %}
