{% extends 'home/base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-4">
            <h2 class="mb-0">Управление загрузкой данных</h2>
            <button onclick="refreshTable()" class="btn btn-primary">Обновить</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>
        </div>
        <div class="row">
            <!-- Левая колонка с блоками "Статус базы данных" и "Фильтры" -->
            <div class="col-md-4 col-xl-3">
                <!-- Статус базы данных Firebird -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Подключение к БД МИС КАУЗ</h5>
                    </div>
                    <div class="card-body">
                        <p id="firebird-status">{{ firebird_status }}</p>
                    </div>
                </div>
                
                <!-- Секция с фильтрами -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Фильтры</h5>
                    </div>
                    <div class="card-body">
                        <h6>Категория</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="all" id="filter-all" checked>
                            <label class="form-check-label" for="filter-all">Все категории</label>
                        </div>
                        {% for category in categories %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="filter-{{ category.id }}">
                                <label class="form-check-label" for="filter-{{ category.id }}">{{ category.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <!-- Правая колонка с таблицей загрузки данных -->
            <div class="col-md-8 col-xl-9">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Загрузка данных</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Категория</th>
                                    <th>Тип данных</th>
                                    <th>Количество</th>
                                    <th>Дата последней загрузки</th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                            <tbody id="data-table-body">
                                {% for data_type in data_types %}
                                    <tr data-category-id="{{ data_type.category.id }}">
                                        <td>{{ data_type.category.name }}</td>
                                        <td>{{ data_type.name }}</td>
                                        <td>{{ data_type.row_count }}</td>
                                        <td>
                                            {% if data_type.last_import_date %}
                                                <button type="button" class="btn btn-link" onclick="openModal('{{ data_type.last_import_message|escapejs }}', {{ data_type.id }})">
                                                    {{ data_type.last_import_date }}
                                                </button>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'data_loader:upload_file' data_type.id %}" class="btn btn-primary">Загрузить данные</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Модальное окно для отображения сообщений -->
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Сообщение о последней загрузке</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <pre id="modalMessageContent" style="white-space: pre-wrap;"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="refreshMessage()">Обновить</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        // Переменные для хранения текущего data_type_id
        let currentDataTypeId = null;

        // Открытие модального окна с сообщением
        function openModal(message, dataTypeId) {
            // Устанавливаем текущий data_type_id для последующего обновления
            currentDataTypeId = dataTypeId;

            // Устанавливаем текст сообщения в модальное окно
            document.getElementById('modalMessageContent').textContent = message;

            // Инициализируем и отображаем модальное окно
            var myModal = new bootstrap.Modal(document.getElementById('messageModal'), {});
            myModal.show();
        }

        function refreshMessage() {
            if (currentDataTypeId) {
                fetch(`/data_loader/refresh-message/${currentDataTypeId}/`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('modalMessageContent').textContent = data.message;
                    })
                    .catch(error => console.error('Ошибка при обновлении сообщения:', error));
            }
        }

        function refreshTable() {
            fetch("{% url 'data_loader:refresh_data' %}")  // URL обновления данных
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('data-table-body');
                    tableBody.innerHTML = '';  // Очищаем текущую таблицу

                    // Обновляем таблицу новыми данными
                    data.data_types.forEach(data_type => {
                        const row = document.createElement('tr');
                        row.setAttribute('data-category-id', data_type.category_id);

                        row.innerHTML = `
                        <td>${data_type.category_name}</td>
                        <td>${data_type.name}</td>
                        <td>${data_type.row_count}</td>
                        <td>${data_type.last_import_date || '-'}</td>
                        <td><a href="/data_loader/upload-file/${data_type.id}" class="btn btn-primary">Загрузить данные</a></td>
                    `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Ошибка при обновлении таблицы:', error));
        }

        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('.form-check-input');
            const allCheckbox = document.getElementById('filter-all');
            const tableRows = document.querySelectorAll('#data-table-body tr');

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    if (allCheckbox.checked) {
                        tableRows.forEach(function (row) {
                            row.style.display = '';
                        });
                    } else {
                        const selectedCategories = Array.from(checkboxes)
                            .filter(checkbox => checkbox.checked && checkbox !== allCheckbox)
                            .map(checkbox => checkbox.value);

                        tableRows.forEach(function (row) {
                            if (selectedCategories.includes(row.getAttribute('data-category-id'))) {
                                row.style.display = '';
                            } else {
                                row.style.display = 'none';
                            }
                        });
                    }
                });
            });

            allCheckbox.addEventListener('change', function () {
                if (allCheckbox.checked) {
                    checkboxes.forEach(function (checkbox) {
                        if (checkbox !== allCheckbox) {
                            checkbox.checked = false;
                        }
                    });
                    tableRows.forEach(function (row) {
                        row.style.display = '';
                    });
                }
            });
        });
    </script>
{% endblock %}
