{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Управление загрузкой данных</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Категория</th>
            <th>Тип данных</th>
            <th>Дата последней загрузки</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for data_type in data_types %}
            <tr>
                <td>{{ data_type.category.name }}</td>
                <td>{{ data_type.name }}</td>
                <td>{{ data_type.last_import_date|default:"-" }}</td>
                <td>
                    <a href="{% url 'data_loader:upload_file' data_type.id %}" class="btn btn-primary">Загрузить данные</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}