header {
    flex: 0 0 auto;
}

.header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    font-size: 30px;
}

.logo {
    flex: 1;
    text-align: left;
}

.logo img {
    width: 100px;
    height: 100px;
}

.system-info {
    flex: 2;
    text-align: center;
}

.update-info {
    flex: 1;
    text-align: center;
}

.system-info .row, .update-info .row {
    margin-bottom: 15px;
}

main {
    flex: 1 0 auto;
}


.table-title h2 {
    margin: 5px;
}

.table-data {
    width: 100%;
    font-size: 35px;
}

.table-data table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.table-data th, .table-data td {
    padding: 8px;
    text-align: center;
}

.table-data th {
    width: 25%;
}

.table-data td {
    width: 25%;
}


/* Медиа-запросы для экранов с шириной до 1280px */
@media screen and (max-width: 1280px) {
    .header-grid {
        font-size: 20px;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .system-info .row, .update-info .row {
        margin-bottom: 7px;
    }

    .main-container {
        padding: 7px;
        margin-top: 15px;
    }

    .info-container {
        bottom: 25px;
        padding: 7px;
        font-size: 25px;
    }

    .table-title {
        margin-bottom: 7px;
        font-size: 23px;
    }

    .table-data {
        font-size: 23px;
    }
}

/* Медиа-запросы для экранов с шириной до 980px */
@media screen and (max-width: 980px) {
    .header-grid {
        font-size: 15px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .system-info .row, .update-info .row {
        margin-bottom: 5px;
    }

    .main-container {
        padding: 5px;
        margin-top: 10px;
    }

    .info-container {
        bottom: 20px;
        padding: 5px;
        font-size: 18px;
    }

    .table-title {
        margin-bottom: 5px;
        font-size: 18px;
    }

    .table-data {
        font-size: 18px;
    }
}

